<div class="row" id="commands-arg-vote" style="margin-top: 20px;">
    <div class="col-xs-4">
        <ul class="list-group" id="general-av">
            <li class="list-group-item" style="font-weight: bold">General</li>
            <li class="list-group-item">Yes <span class="badge">Q</span></li>
            <li class="list-group-item">No <span class="badge">W</span></li>
            <li class="list-group-item">Maybe <span class="badge">E</span></li>
        </ul>
    </div>
    <div class="col-xs-5">
        <ul class="list-group" id="argument-vote">
          <li class="list-group-item" style="font-weight: bold">Argue & Vote</li>
          <li class="list-group-item">Argue <span class="badge">§</span></li>
          <li class="list-group-item" data-participant="black"><span class="tex">Vote Black</span> <span class="badge">1</span></li>
          <li class="list-group-item" data-participant="brown"><span class="tex">Vote Brown</span> <span class="badge">2</span></li>
          <li class="list-group-item" data-participant="orange"><span class="tex">Vote Orange</span> <span class="badge">3</span></li>
          <li class="list-group-item" data-participant="blue"><span class="tex">Vote Blue</span> <span class="badge">4</span></li>
          <li class="list-group-item" data-participant="pink"><span class="tex">Vote Pink</span> <span class="badge">5</span></li>
          <li class="list-group-item" data-participant="white"><span class="tex">Vote White</span> <span class="badge">6</span></li>
        </ul>
    </div>
</div>
