<div class="row" id="commands" style="margin-top: 20px;">
<div class="col-xs-12">
<div class="col-xs-2">
    <ul class="list-group" id="general">
        <li class="list-group-item" style="font-weight: bold">General</li>
        <li class="list-group-item">Yes <span class="badge">Q</span></li>
        <li class="list-group-item">No <span class="badge">W</span></li>
        <li class="list-group-item">Maybe <span class="badge">E</span></li>
        <li class="list-group-item">Close eyes <span class="badge">R</span></li>
        <li class="list-group-item">Great <span class="badge">T</span></li>
    </ul>
</div>
<div class="col-xs-2">
    <ul class="list-group" id="accuse">
      <li class="list-group-item" style="font-weight: bold">Accuse <span class="badge">Shift</span></li>
      <li class="list-group-item">Black <span class="badge">1</span></li>
      <li class="list-group-item">Brown <span class="badge">2</span></li>
      <li class="list-group-item">Orange <span class="badge">3</span></li>
      <li class="list-group-item">Blue <span class="badge">4</span></li>
      <li class="list-group-item">Pink <span class="badge">5</span></li>
      <li class="list-group-item">White <span class="badge">6</span></li>
    </ul>
</div>
<div class="col-xs-2">
    <ul class="list-group" id="defend">
      <li class="list-group-item" style="font-weight: bold">Defend <span class="badge">Ctrl</span></li>
      <li class="list-group-item">General <span class="badge">§</span></li>
      <li class="list-group-item">Me <span class="badge">0</span></li>
      <li class="list-group-item">Black <span class="badge">1</span></li>
      <li class="list-group-item">Brown <span class="badge">2</span></li>
      <li class="list-group-item">Orange <span class="badge">3</span></li>
      <li class="list-group-item">Blue <span class="badge">4</span></li>
      <li class="list-group-item">Pink <span class="badge">5</span></li>
      <li class="list-group-item">White <span class="badge">6</span></li>
    </ul>
</div>
<div class="col-xs-2">
    <ul class="list-group" id="support">
      <li class="list-group-item" style="font-weight: bold">Support <span class="badge">Alt</span></li>
      <li class="list-group-item">General <span class="badge">§</span></li>
    <!--  <li class="list-group-item">Me <span class="badge">0</span></li> -->
      <li class="list-group-item">Black <span class="badge">1</span></li>
      <li class="list-group-item">Brown <span class="badge">2</span></li>
      <li class="list-group-item">Orange <span class="badge">3</span></li>
      <li class="list-group-item">Blue <span class="badge">4</span></li>
      <li class="list-group-item">Pink <span class="badge">5</span></li>
      <li class="list-group-item">White <span class="badge">6</span></li>
    </ul>
</div>
<!-- <div class="col-xs-2">
    <ul class="list-group" id="werewolf-belief">
      <li class="list-group-item" style="font-weight: bold">Werewolf Belief</li>
      <li class="list-group-item">Black <span class="badge">0.0</span></li>
      <li class="list-group-item">Brown <span class="badge">0.0</span></li>
      <li class="list-group-item">Orange <span class="badge">0.0</span></li>
      <li class="list-group-item">Blue <span class="badge">0.0</span></li>
      <li class="list-group-item">Pink <span class="badge">0.0</span></li>
      <li class="list-group-item">White <span class="badge">0.0</span></li>
    </ul>
</div>-->
</div>
</div>
