<div class="row" id="commands-st" style="margin-top: 20px;">
   <div class="col-xs-4">
       <ul class="list-group" id="general-st">
           <li class="list-group-item" style="font-weight: bold">General</li>
           <li class="list-group-item">Yes <span class="badge">Q</span></li>
           <li class="list-group-item">No <span class="badge">W</span></li>
           <li class="list-group-item">Maybe <span class="badge">E</span></li>
           <li class="list-group-item">Great <span class="badge">T</span></li>
       </ul>
   </div>
   <div class="col-xs-4">
       <ul class="list-group" id="smalltalk">
         <li class="list-group-item" style="font-weight: bold">Small Talk <span class="badge">Shift</span></li>
         <li class="list-group-item">General <span class="badge">§</span></li>
         <li class="list-group-item">Black <span class="badge">1</span></li>
         <li class="list-group-item">Brown <span class="badge">2</span></li>
         <li class="list-group-item">Orange <span class="badge">3</span></li>
         <li class="list-group-item">Blue <span class="badge">4</span></li>
         <li class="list-group-item">Pink <span class="badge">5</span></li>
         <li class="list-group-item">White <span class="badge">6</span></li>
       </ul>
   </div>
</div>
