click==6.7
Flask==0.12.2
Flask-SocketIO==2.9.1
Furhat-client==0.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
msgpack-python==0.4.8
numpy==1.13.1
pika==0.10.0
pyasn1==0.2.3
pysmb==1.1.19
python-engineio==1.7.0
python-socketio==1.7.6
PyYAML==3.12
pyzmq==16.0.2
six==1.10.0
Werkzeug==0.12.2
zmq==0.0.0
