{% raw %}
<script id="template" type="x-tmpl-mustache">
    <div class="col-xs-5">
        <table class="table table-condensed">
            <tr>
                <td>Black</td>
                <td>{{beliefs.black}}</td>
            </tr>
            <tr>
                <td>Brown</td>
                <td>{{beliefs.brown}}</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>{{beliefs.orange}}</td>
            </tr>
            <tr>
                <td>Blue</td>
                <td>{{beliefs.blue}}</td>
            </tr>
            <tr>
                <td>Pink</td>
                <td>{{beliefs.pink}}</td>
            </tr>
            <tr>
                <td>White</td>
                <td>{{beliefs.white}}</td>
            </tr>
        </table>
    </div>
</script>
{% endraw %}
